#Database
WebSearchableEquipmentDatabase/db.sqlite3

#Environment files
.env

#Virtual Environment
venv/

# JetBrains files
.idea/

### Django ###
WebSearchableEquipmentDatabase/*.log
WebSearchableEquipmentDatabase/*.pot
*.pyc
__pycache__
WebSearchableEquipmentDatabase/static/
WebSearchableEquipmentDatabase/media/
