#Database
WebSearchableEquipmentDatabase/db.sqlite3

#Environment files
.env

#Virtual Environment
venv/

# JetBrains files
.idea/

### Django ###
WebSearchableEquipmentDatabase/*.log
WebSearchableEquipmentDatabase/*.pot
WebSearchableEquipmentDatabase/*.pyc
WebSearchableEquipmentDatabase/__pycache__/
WebSearchableEquipmentDatabase/static/
WebSearchableEquipmentDatabase/media/
