html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    align-content: center;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.login-text {
    text-align: center;
}

.error-message {
    background-color: #ff7f7f;
    color: darkred;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}

.forgot-password {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.forgot-password:link, .forgot-password:visited, .forgot-password:hover, .forgot-password:active {
    color: gray
}

.forgot-password:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.login-button {
    flex: 1;
    margin-right: 6px;
}

.register-button {
    flex: 1;
    margin-left: 6px;
}
