html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.reset-container {
    background-color: white;
    padding: 20px;
    align-content: center;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.reset-text {
    text-align: center;
}

.error-message {
    background-color: #ff7f7f;
    color: darkred;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}

.reset-password {
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

.forgot-password {
    color: gray;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.button-container {
    display: flex;
}

.reset-button {
    flex: 1;
    border: none;
    background-color: rgb(198, 78, 36);
    color: white;

}

.reset-button:hover {
    background-color: rgb(173, 61, 27);
    color: white;
}

.remembered-password {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.remembered-password:link, .remembered-password:visited, .remembered-password:hover, .remembered-password:active {
    color: gray
}

.remembered-password:hover {
    cursor: pointer;
}

.errorlist {
    background-color: #ff7f7f;
    color: darkred;
    border: 2px solid red;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    padding: 8px 0 8px 0;
}
