.filterList{
    list-style: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-label {
    font-weight: bold;
}

label {
    margin-bottom: 0;
}

.check-options:hover {
    cursor: pointer;
}

.apply-filters-button {
    flex: 1;
    border: none;
    background-color: rgb(198, 78, 36);
    color: white;

}

.apply-filters-button:hover {
    background-color: rgb(173, 61, 27);
    color: white;
}
