{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static "auth/logout.css" %}">

    <title>Logout</title>
</head>
<body>
    <p>You have been logged out. You will be redirected in <span id="countdown">3</span> seconds. If you are not redirected <a href="{% url 'home' %}">click Here.</a></p>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let timeLeft = 3;
        const countdownFunction = async () => setTimeout(function(){
            document.querySelector('#countdown').innerHTML = --timeLeft;
            if(timeLeft == 0){
                window.location.href="/";
            }
            else
                countdownFunction();
        }, 1000);
        countdownFunction();
    });
</script>
</html>