{% extends 'equipment/base.html' %}
{% load static %}

{% block cssLinks %}
    <link rel="stylesheet" href="{% static "auth/reset_password.css" %}">
{% endblock %}

{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="reset-container">
            <h2 class="reset-text py-3">Instructions have been sent to your email.</h2>
            <a href="{% url 'home' %}" class="forgot-password">Home</a>
        </div>
    </div>
{% endblock %}