{% extends 'equipment/base.html' %}
{% load static %}

{% block cssLinks %}
    <link rel="stylesheet" href="{% static "auth/reset_password.css" %}">
{% endblock %}

{% block title %}
    Password Changed
{% endblock %}
{% block content %}
    <div class="container">
        <img class="background" src="{% static "pictures/2.png" %}">
        <div class="reset-container">
            <h2 class="reset-text py-3">Your password has been changed.</h2>
            <div class="button-container pb-1">
                <a class="reset-button py-2" href="{% url 'login' %}"
                   style="text-align: center; text-decoration: none;">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
