{% extends 'equipment/base.html' %}
{% load static %}

{% block cssLinks %}
    <link rel="stylesheet" href="{% static "auth/register.css" %}">
{% endblock %}

{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="container">
    <img class="background" src="{% static "pictures/2.png" %}">
        <div class="register-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="button-container">
                    <button class="register-button py-2" type="submit">Register</button>
                </div>
            </form>
            <a href="{% url 'login' %}" class="existing-account">Already have an account? Log in.</a>
        </div>
    </div>
{% endblock %}