{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} MS Equipment Database {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "base/base.css" %}">
    {% block cssLinks %}{% endblock %}
    {% block inlineCSS %}{% endblock %}
    {% block jsLinks %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="{% url 'home' %}">Equipment Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-link {% if dataTable %}active{% endif %}" href="{% url 'home' %}">Home <span
                        class="sr-only">(current)</span></a>
                {% if show_controls %}
                    <a class="nav-item nav-link {% if upload_csv %}active{% endif %}" href="{% url 'uploadCSV' %}">Upload
                        Data</a>
                {% endif %}
                {% if show_controls %}
                    {% csrf_token %}
                    <button class="nav-item nav-link" data-toggle="modal" data-target="#equipmentModal"
                            style="border:none; background-color: rgba(0,0,0,.0001)">Add Item
                        {#                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" style="" viewBox="0 0 16 16">#}
                        {#                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>#}
                        {#                            </svg>#}
                    </button>
                {% endif %}
            </div>
            <div class="nav-item mr-sm-2">
                {% if user.is_authenticated %}
                    <span class="navbar-text">Hello {{ user.email }}</span>
                {% endif %}
            </div>
            <div class="nav-item">
                {% if user.is_authenticated %}
                    <a class="login-logout" style="text-align: right;" href="/logout">Log out</a>
                {% else %}
                    <a class="login-logout" style="text-align: right;" href="/login">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<div class="site-wrapper">
    {% block content %}
        Base Content that should always be overwritten
    {% endblock %}
</div>
{% block inlineJS %}{% endblock %}

<div>
    <footer>
        &copy;2021 Boise State University. All rights reserved.
    </footer>
</div>
</body>
</html>