{% extends 'equipment/base.html' %}
{% load static %}

{% block cssLinks %}
    <link rel="stylesheet" href="{% static "uploadCSV/uploadCSV.css" %}">
{% endblock %}

{% block title %}
    Upload CSV File
{% endblock %}

{% block content %}
    <div class="container">
        <div class="upload-container">
            <div class="upload-text py-3">
                <h3>Upload File</h3>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}-message mb-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input id="file-upload" type="file" accept=".csv" name="file" class="custom-file-input">
                        <label class="custom-file-label">Choose file by dragging or browsing</label>
                    </div>
                </div>
                <small class="input-hint">Accepted File Types: .csv only</small>
                <div class="button-container">
                    <button type="submit" class="btn btn-success upload-button mt-2" id="upload-button" disabled>
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        {# enables/disables upload button when file is selected #}
        $('input[type=file]').change(function () {
            if ($('input[type=file]').val() === '') {
                $('#upload-button').attr('disabled', true)
            } else {
                $('#upload-button').attr('disabled', false);
            }
        })

        {# Updates the file input place holder with the selected files name #}
        $('#file-upload').change(function () {
            var i = $(this).next('label').clone();
            var file = $('#file-upload')[0].files[0].name;
            $(this).next('label').text(file);
        });
    </script>
{% endblock %}
