html, body {
    height: 100%;
    background-position: center;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
}

.container div {
    display: flex;
    flex-direction: column;
}

#header {
    width: 600px;
    margin: auto;
}

.subheading {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

#sdp {
    position: absolute;
    margin: 10px;
}
#sdp img {
    width: 80px;
    cursor: pointer;
    display: block;
}
#sdp > div {
    background-color: #0033A0;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    visibility: hidden;
    position: relative;

}

#sdp a {
    text-decoration: none;
    color: #D64309;
    font-weight: bold;
}

#mse a {
    text-decoration: none;
    color: white;
}

#view {
    background-image("/static/pictures/")
}
#buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px;
    width: 50%;
}
#buttons div {
    height: 80px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.button
{
    border-radius: 50%;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 15px;
}

#info {
    background: rgba(0,0,0,0.65);
    padding: 20px;
    display: inline;
}



.background {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}
