{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} MS Equipment Database {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ae4a1cc09.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "base/base.css" %}">
    {% block inlineCSS %}{% endblock %}
    {% block jsLinks %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
    {% endblock %}
</head>
<body>
{% block inlineJS %}{% endblock %}
</body>
</html>
{% block cssLinks %}
    <link rel="stylesheet" href="{% static "css/splash.css" %}">
{% endblock %}


{% block content %}
    <div id="sdp" tabindex="5">
            <img src="/static/pictures/bsu-sdp-button.png" alt="senior design project logo" onmouseover="$('#sdp_info').css('visibility', 'revert')">
        <div id="sdp_info" onmouseleave="$('#sdp_info').css('visibility', 'collapse')">
            This website was created for a<br/>
            Boise State University<br/>
            Computer Science Senior Design Project by
            <div> Ian Whitney </div>
            <div> Nick Stolarow </div>
            <div> Michael Cleverdon </div>
            For information about sponsoring a project go to<br/>
            <a href="https://www.boisestate.edu/coen-cs/community/cs481-senior-design-project/">https://www.boisestate.edu/coen-cs/community/cs481-senior-design-project/</a>
        </div>
    </div>
    <div class="container">
        <h1 alt="page title">
            <div>
                <a href="http://boisestate.edu" tabindex="4"><img id="header" alt="Boise State University logo" src="/static/pictures/logo-white.png"></a>
            </div>
        <div id="mse" class="subheading">
            <a href="http://boisestate.edu/coen-materials">Micron School of Materials Science and Engineering</a>
        </div>
        <div class="subheading">
            Shared Instrumentation Database
        </div>
        </h1>
        <h2 id="buttons" alt="navigation controls">
            <div>
            <div onclick="document.location='/equipment'" tabindex="1" accesskey="V">
                {% bs_icon 'play-fill' extra_classes='button' color='black' %}
            </div>
                View
            </div>
            <div onclick="document.location= '/login'" tabindex="2" accesskey="L">
            <div>
                {% bs_icon 'person-fill' color='black' extra_classes='button' %}
            </div>
                Login
            </div>
            <div onclick="document.location= '/register'" tabindex="3" accesskey="R">
            <div>
                {% bs_icon 'person-plus-fill' color='black' extra_classes='button' %}
            </div>
                    Register
                </div>

        </h2>
        <h3 id="info">
            The instruments listed in this database provide a large range of capabilities for synthesis, characterization,
            and processing of materials of all types. Whether the instrumentation is managed through a federal recharge
            center or an individual faculty lab, the resources of the School are available to advance your materials
            research and development needs. Contact information is provided for each instrument, but if you don't find
            what you need, please contact the School at <a href="mailto:mseequipment@boisestate.edu">mseequipment@boisestate.edu</a>.  Database registration provides
            full access to the database for Boise State University students, faculty, and staff
        </h3>
    </div>
{% endblock %}